@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    /*fuente*/
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
   font-family: "Playwrite DE Grund", cursive;
}

h1{
    font-size: 60px;
}

.orbitron-RedStar {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: darkred;
  }
  
header {
    background: linear-gradient(to right, white 10%, #911212);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Añade espacio entre el logo y la navegación */
    padding: 0 20px; /* Ajusta el padding horizontal si es necesario */
    height: 15vh; /* Asegura que el header tome el tamaño de su contenido */
}

.logo {
    width: auto;
    height: 15vh;
    border-radius: 50%; /* Asegura que la imagen mantenga su proporción */
}

header nav {
    flex: 1; /* Permite que el nav ocupe el espacio restante */
    display: flex;
    justify-content: center; /* Centra el contenido del nav */
}

header nav ul {
    list-style: none;
    display: flex; /* Alinea los elementos horizontalmente */
    margin: 0;
    padding: 0;
      
}

header nav ul li {
    margin-right: 50px; /* Espacio entre los elementos del menú */
}

header nav ul li a {
    color: black; /* Cambia el color del texto a negro */
    text-decoration: none; /* Esto asegura que los enlaces no tengan subrayado */
    font-size: 40px; /* Tamaño más grande */
}

header nav ul li a:hover {
    color: darkred; /* Color del texto al pasar el mouse por encima */
}

.tamanioUlHeader {
    font-size: 20px; /* Ajusta el tamaño según prefieras */
    font-weight: bold; /* Opcional: añade negrita para mayor énfasis */
    margin-top: 50px;
}

main {
    height: 70vh;
}

.contenido-principal { /* Nombre del nuevo contenedor */
    background-color: transparent; /* Asegúrate que el fondo sea transparente */
}

.mainIndexBox {
    height: 50vh;
    background-image: url("../assets/img/Gemini_Generated_Image_id2hg7id2hg7id2h_apaisada.jpg");
    background-size: cover;
    background-position: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch; /* Apila los elementos verticalmente */
    animation: subir 5s;
}


.parrafoPrincipal {
    color: #f0efed;
    padding: 1rem;
    margin-top: inherit;
    bottom: 0;
    left: 20px;
    margin-bottom: inherit;
}


@keyframes subir {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}